<html>
<head>
<title>HUMAN Migration</title>
<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="container">
  <img src="static\image.jpeg" alt="Notebook" style="width:190%;height:100%">
<br><br><br><br><br><br><br><br><br><center>
<div class="content">
<h1><i><b>PREDICT INDIAN HUMAN MIGRATION</b></i></h1><br><br><br>
<br>

<div class="container">
<form action="{{url_for('predict')}}"method="POST">
<label for="gender">Enter the Gender:</label>
<select name="Gender">
<option value="Female">Female</option>
<option value="Male">Male</option>
</select>
<br><br>
<input type="text" name="Last2" placeholder="Enter the before last year migration">
<br><br>
<input type="text" name="Last1" placeholder="Enter the last year migration">
<br><br>
<label for="Country">Enter the destination country:</label>
<select name="Country">
<option value="Afghanistan">Afghanistan</option>
<option value="Albania">Albania</option>
<option value="Algeria">Algeria</option>
<option value="Australia">Australia</option>
<option value="Bangladesh">Bangladesh</option>
<option value="Belgium">Belgium</option>
<option value="Bhutan">Bhutan</option>
<option value="Brazil">Brazil</option>
<option value="Bulgaria">Bulgaria</option>
<option value="Canada">Canada</option>
<option value="China">China</option>
<option value="Colombia">Colombia</option>
<option value="Congo,Dem. Rep">Congo,Dem. Rep</option>
<option value="Costa Rica">Costa Rica</option>
<option value="Denmark">Denmark</option>
<option value="Egypt Arch Rep">Egypt Arch Rep</option>
<option value="Sweden">Sweden</option>
<option value="Switzerland">Switzerland</option>
<option value="Tanazania">Tanazania</option>
<option value="Thailand">Thailand</option>
<option value="Uganda">Uganda</option>
<option value="United Arab Emirates">United Arab Emirates</option>
<option value="United Kingdom">United Kingdom</option>
<option value="United States">United States</option>
<option value="Vietnam">Vietnam</option>
<option value="Yeman, Rep.">Yeman, Rep.</option>
<option value="Zambia">Zambia</option>
<option value="Zimbabwe">Zimbabwe</option>
</select>
<br><br>
<input type="submit" name="button"class="my-cta-button"value="predict">
</form>
<br><br>
{{ prediction_text }}
</div>
</div>
</div>
</center>
</head>
</body>
</html>
